fastapi==0.136.0
pytest==9.0.3
pytest-asyncio==1.4.0
python-dotenv==1.2.1
redis==6.4.0
sqlmodel==0.0.38
types-flake8-typing-imports==1.17.0.20260408
types-pytest-lazy-fixture==0.6
typing==3.7.4.3
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.44.0
pymysql
slowapi